numpy>=2.0.0
scipy>=1.14.0
librosa>=0.10.0
soundfile>=0.12.0
vosk==0.3.44
audioread>=3.0.0
joblib>=1.2.0
scikit-learn>=1.3.0
decorator>=5.0.0
numba>=0.58.0
soxr>=0.3.0
lazy-loader>=0.3
msgpack>=1.0.0
pooch>=1.8.0
